<div class="row">
    <div class="col">
      <input
        type="number"
        class="price-tag-input"
        placeholder="enter number of votes"
        id="numberOfVotes"
      />
    </div>
    <div class="col">
      <button
        type="button"
        id="checkPrice"
        class="price-tag"
        style="width: 100%"
      >
        Check price
      </button>
    </div>
  </div>