<header class="nav-bg">
	<div id="wrap_header" >
		<!-- Logo -->		
		<div class="logo col_header">
			<a href="/"><h2> Mega </h2></a>
		</div>
		<!-- Menu -->
		<div class="main_nav">
			<nav class="menu col_header">	
				<ul class="main_menu">
					<li><a href="/">Home</a></li>
					<li><a href="/makePaymentTickets">Payments</a></li>
					<!-- <li><a href="/blog">Blog</a></li> -->
					<li><a href="/contestant">Contestants | votes</a></li> 
					<li><a href="/about">About</a></li>
					<li><a href="/faq">Faq</a></li> 
					<li><a href="/contact">Contact</a></li>
					
				</ul>
			</nav>
		</div>

		<!-- Socials -->
		<div class="icon-header col_header">
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
		</div>
	</div>
</header>
