 <header class="nav-bg" id="my-header">
	<div class="wrap_header" >
		
		<div class="my-brand-logo ">
			<a href="/"><img class="my-logo my-nav-brand" src="img/icons/logo2.png"></a>
		</div>

		<button class="my-toggle-button">
			<span><i class="fa fa-bars"></i></span>
		</button>

		
		<div class="my-collapse">
			<ul class="my-navbar-nav">
			   <a href="/" class="my-nav-link">Home</a> 
			   <a href="/contestant" class="my-nav-link">Contestants</a> 
			   <a href="/blog" class="my-nav-link">Blog</a> 
			   <!-- <a href="/faq" class="my-nav-link">FAQ</a>  -->
			   <a href="/contact" class="my-nav-link">Contact us</a> 
			   <a href="/about" class="my-nav-link">About us</a> 
			</ul>
		</div>
	
		<div class=" my-collapse"> 
			<a href="/dashboard" class="my-nav-link">Profile</a> 
			<a class="my-nav-link" href="https://:facebook.com" target="blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a class="my-nav-link" href="twitter.com" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a class="my-nav-link" href="instagram.com" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a class="my-nav-link" href="youtube.com" target="blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
		</div>
	</div>
</header> 



 