

	<div class="col-res-content-blog col-md-10 col-lg-3">
        <div class="wrap-side-bar row">
            <div class="categories col-12">
                <h4 class="my-medium-text">Select your Category</h4>
            </div>
            <div class="categories-content col-12">
                <ul>
                    <li class=" clearfix">
                        <a href="#" class="my-small-text">Singing</a> 
                        <!-- <span>(10)</span> -->
                    </li>
                    <li class=" clearfix">
                        <a href="#" class="my-small-text">Dancing</a> 
                        <!-- <span>(25)</span> -->
                    </li>
                    <li class=" clearfix">
                        <a href="#" class="my-small-text">Hip hop</a> 
                        <!-- <span>(15)</span> -->
                    </li>
                    <li class="clearfix">
                        <a href="#" class="my-small-text">Other skills</a> 
                        <!-- <span>(10)</span> -->
                    </li>
                </ul>
            </div>

            <div class="filter-price col-12">
                <h4 class="my-medium-text">Tags</h4>
            </div>

            <div class="wrap-content-tag col-12">
                <a href="#" class="content-tag ">Music</a>
                <a href="#" class="content-tag ">Albums</a>
                <a href="#" class="content-tag ">Video</a>
                <a href="#" class="content-tag ">Comedy</a>
                <a href="#" class="content-tag ">News | Articles</a>
            </div>

            <div class="wrap-your-ads col-sm-8 col-md-6 col-lg-12 mb-5">
                <a href="#"><div class="your-ads">
                    <img src="img/blog-list-01-img-ads.jpg" alt="img-ads">
                    <div class="text-your-ads">
                        <h6 class="medium-text-2">Your Ad is put here</h6>
                        <p>Phasellus consectur posuere eros, con-secte lectus comodo, posuere felis. </p>
                    </div>
                </div></a>
            </div>

            <div class="wrap-your-ads col-sm-8 col-md-6 col-lg-12">
                <a href="#"><div class="your-ads">
                    <img src="img/blog-list-01-img-ads.jpg" alt="img-ads">
                    <div class="text-your-ads">
                        <h6 class="medium-text-2">Your Ad is put here</h6>
                        <p>Phasellus consectur posuere eros, con-secte lectus comodo, posuere felis. </p>
                    </div>
                </div></a>
            </div>
            
        </div>
    </div>