
<%- include('./partials/navigation') %> 


<section>
    <!-- <div class="bg-title-sub-page bg-menu-page-02 "> -->
    <div class="bg-title-sub-page jumbo">
        <div class="wrap-title-sub-page">
            <!-- <h2 class="title-l">About Us</h2> -->
            <!-- <h6 class="title-s">Home Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam atque hic fugiat laboriosam,</h6> -->

            <div class="about">
              <div class="container">
                <div class="about-content">
                  <div id="title-event">
                      <h6>About Mega</h6>
                  
                  </div>
                  <div class="about-text">
                    <p>
                      Astro's Got Talent is the world's greatest competition, for acts
                      of all ages and sets out to discover the most unique, skilled,
                      heartwarming and showstopping performances. Singers,
                      Rappers, Commedians and talents in between will compete before a
                      panel of celebrity judges, a live studio audience, and the entire
                      nation to win amazing prizes. <br>
                      <br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
                      porro, aliquam explicabo quis praesentium hic necessitatibus
                      itaque dignissimos nam vel quidem excepturi rem aut? Facilis
                      repellat eos nostrum voluptate modi. Lorem ipsum, dolor sit amet
                      consectetur adipisicing elit. Animi aperiam facilis, ducimus
                      fugiat dolores, ut iste sed, cupiditate at magni pariatur enim
                      exercitationem necessitatibus incidunt amet deserunt illo
                      praesentium itaque.f
                    </p>
                    <!-- <div class="btn btn-secondary"> Donate</div> -->
                  </div>
                  <div class="about-img">
                    <!-- <img src="/img/bg.png" alt=""> -->
                  </div>
                </div>
              </div>
            </div>
        </div>

    </div>
</section>


      