<%- include('./partials/navigation') %>



<section class="content-blog-list-sidebar-page extend content-shop-page">
  <div class="container">
    <div class="row">
      <!-- content -->
      <div class="col-res-content-blog col-md-10 col-lg-9">
        <div class="wrap-content-blog row">
          <!-- main post -->
          <div class="col-12">
            <div class="main-post col-style-content-blog right">
              
              <div class="">
                <a href="/full1"><img src="img/crow-sup.jpg" alt="img-blog" /></a>
              </div>

              <h3 class="my-medium-text">
                <a href="/full1" class="my-medium-text"
                  >Dinnertime Done Right: Coconut-Crusted Cauliflower Tacos</a
                >
              </h3>
              <p>
                Cras ante urna, cursus accumsan blandit non, volutpat ac ipsum.
                Ut elementum venenatis diam, ac suscipit nunc ultricies eget. Ut
                ex lorem, sodales vitae porttitor at, tempor quis odio. Donec
                maximus purus eu dui molestie, non accumsan libero fringilla.
                Donec quis libero laoreet ex suscipit consectetur eget sit amet
                diam. Pellentesque non iaculis purus.
              </p>
              <span class="post-info date-post">Date: July 04, 2017</span>
              <span class="post-info post-by">Posted by Maria Carroll</span>
            </div>
          </div>
          <!-- sub post 1 -->

          <div class="my-post row">
            <div class="col-sm-8 col-md-4">
              <div class="sub-post hover-img">
                <a href="/full-post/full1"
                  ><img src="images/blog-list-01-img-02.jpg" alt="img-blog"
                /></a>
              </div>
            </div>

            <div class="col-sm-8 col-md-8">
              <div class="sub-post col-style-content-blog right">
                <h3 class="my-medium-text">
                  <a href="/full1" class="my-medium-text"
                    >Treat Yourself With Canadian Butter Tart Doughnuts</a
                  >
                </h3>
                <p class="para-sub-post">
                  Proin aliquet gravida nibh, in fringilla est eleifend et.
                  Pellen-tesque hendrerit augue ut eros iaculis elementum. Donec
                  porta efficitur lorem ut ultricies. Donec vulputate leo a enim
                  dapibus sollicitudin. In sed mollis sapien, in congue nulla.
                  Mauris lorem nulla, tincidunt suscipit purus eu, dapibus
                  semper lacus.
                </p>
                <span class="post-info date-post">Date: July 04, 2017</span>
                <span class="post-info post-by">Posted by Maria Carroll</span>
              </div>
            </div>
          </div>

          <!-- post 2 -->

          <div class="row my-post">
            <!-- sub post 2 picture -->
            <div class="col-sm-8 col-md-4">
              <div class="sub-post hover-img">
                <a href="/full-post/full1"
                  ><img src="img/dancer2.jpg" alt="img-blog"
                /></a>
              </div>
            </div>

            <div class="col-sm-8 col-md-8">
              <div class="sub-post col-style-content-blog right">
                <h3 class="my-medium-text">
                  <a href="/full-post/full1" class="my-medium-text"
                    >Guilt-Free, No-Bake Breakfast Cheesecake Tart</a
                  >
                </h3>
                <p class="para-sub-post">
                  Proin aliquet gravida nibh, in fringilla est eleifend et.
                  Pellen-tesque hendrerit augue ut eros iaculis elementum. Donec
                  porta efficitur lorem ut ultricies. Donec vulputate leo a enim
                  dapibus sollicitudin. In sed mollis sapien, in congue nulla.
                  Mauris lorem nulla, tincidunt suscipit purus eu, dapibus
                  semper lacus.
                </p>
                <span class="post-info date-post">Date: July 04, 2017</span>
                <span class="post-info post-by">Posted by Maria Carroll</span>
              </div>
            </div>
          </div>


		            <!-- post 3 -->
					<div class="row my-post">
						<!-- sub post 2 picture -->
						<div class="col-sm-8 col-md-4">
						  <div class="sub-post hover-img">
							<a href="/full-post/full1"
							  ><img src="img/dancer2.jpg" alt="img-blog"
							/></a>
						  </div>
						</div>
			
						<div class="col-sm-8 col-md-8">
						  <div class="sub-post col-style-content-blog right">
							<h3 class="my-medium-text">
							  <a href="/full-post/full1" class="my-medium-text"
								>Guilt-Free, No-Bake Breakfast Cheesecake Tart</a
							  >
							</h3>
							<p class="para-sub-post">
							  Proin aliquet gravida nibh, in fringilla est eleifend et.
							  Pellen-tesque hendrerit augue ut eros iaculis elementum. Donec
							  porta efficitur lorem ut ultricies. Donec vulputate leo a enim
							  dapibus sollicitudin. In sed mollis sapien, in congue nulla.
							  Mauris lorem nulla, tincidunt suscipit purus eu, dapibus
							  semper lacus.
							</p>
							<span class="post-info date-post">Date: July 04, 2017</span>
							<span class="post-info post-by">Posted by Maria Carroll</span>
						  </div>
						</div>
					  </div>


					  <!-- pagination -->
          <div class="bottom-shop-list col-item col-12">
            <a href="/full-post/full1"
              ><span class="small-text"
                ><i class="fa fa-angle-left" aria-hidden="true"></i></span
            ></a>
            <a href="/full-post/full1"><span class="small-text">1</span></a>
            <a href="/full-post/full1"><span class="small-text">2</span></a>
            <a href="/full-post/full1"><span class="small-text">3</span></a>
            <a href="/full-post/full1"
              ><span class="small-text"
                ><i class="fa fa-angle-right" aria-hidden="true"></i></span
            ></a>
          </div>
        </div>
      </div>
	  
      <!-- sidebar -->
      <%- include('./partials/sidebar') %>
    </div>
  </div>
</section>

<%- include('./partials/footer') %>
