<%- include('./partials/navigation')  %> 

<div class="bg-title-sub-page jumbo">


    <div class="wrap-title-sub-page">
        <h2 class="title-l">Contestants</h2>
        <h6 class="title-s"> contestants of all categories, Select to vote</h6>
      </div>
      <div class="contestant">
        
          <div class="contestant-card">
            <div class="container">
              <div class="row">
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <img src="img/dark-theater.jpg" class="card-img-top"  alt="img-event" />
                    <div class="card-img-overlay">
                      <h4 class="card-title my-card-title">John Doe</h4>
                      <p class="card-text my-card-title">Some example text.</p>
                      <a href="/vote" class="btn btn-primary">See Profile</a>
                    </div>
                  </div>
                  
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <img src="img/girl-and-guy.jpg" class="card-img-top"  alt="img-event" />
                    <div class="card-img-overlay">
                      <h4 class="card-title my-card-title">John Doe</h4>
                      <p class="card-text my-card-title">Some example text.</p>
                      <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                  </div>   
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <img src="img/guitarist-zone.jpg" class="card-img-top"  alt="img-event" />
                    <div class="card-img-overlay">
                      <h4 class="card-title my-card-title">John Doe</h4>
                      <p class="card-text my-card-title">Some example text.</p>
                      <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                  </div>
                  
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <img src="img/girl-singing.jpg" class="card-img-top"  alt="img-event" />
                    <div class="card-img-overlay">
                      <h4 class="card-title my-card-title">John Doe</h4>
                      <p class="card-text my-card-title">Some example text.</p>
                      <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                  </div>   
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <img src="img/hide-face.jpg" class="card-img-top"  alt="img-event" />
                    <div class="card-img-overlay">
                      <h4 class="card-title my-card-title">John Doe</h4>
                      <p class="card-text my-card-title">Some example text.</p>
                      <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                  </div>
                  
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <img src="img/wall-painting.jpg" class="card-img-top"  alt="img-event" />
                    <div class="card-img-overlay">
                      <h4 class="card-title my-card-title">John Doe</h4>
                      <p class="card-text my-card-title">Some example text.</p>
                      <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                  </div>
                  
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <img src="img/white-boy-singing.jpg" class="card-img-top"  alt="img-event" />
                    <div class="card-img-overlay">
                      <h4 class="card-title my-card-title">John Doe</h4>
                      <p class="card-text my-card-title">Some example text.</p>
                      <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                  </div>
                  
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <img src="img/rapper2.jpg" class="card-img-top"  alt="img-event" />
                    <div class="card-img-overlay">
                      <h4 class="card-title my-card-title">John Doe</h4>
                      <p class="card-text my-card-title">Some example text.</p>
                      <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                  </div>     
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

        