<%- include('./partials/navigation') %>

<section>
  <!-- <div class="bg-title-sub-page bg-menu-page-02 "> -->
  <div class="bg-title-sub-page jumbo">
    <div class="wrap-title-sub-page">
      <h2 class="title-l">FAQs</h2>
    </div>
  </div>
</section>

<div class="faq mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6">
        <h2>We Offer Some Of The Best Business Growth Services In Town</h2>
        <p>
          Launching a new company or developing the market position of an
          existing one can be quite an overwhelming processs at times.
        </p>
        <p class="testimonial-text">
          "Our mission here at Aira is to get you through those tough moments
          relying on our team's expertise in starting and growing companies."
        </p>
        <div class="testimonial-author">Adariku Michael - CEO</div>
      </div>
      <!-- blog ends -->
      <div class="col-sm-8 col-md-6">
        <ul class="list-blog-detail">
          <li class="small-text">
            1. Curabitur rhoncus ligula consequat augue facilisis, a cursus
            turpis aliquet. Morbi ultricies nisi ac neque mattis.
          </li>
          <li class="small-text">
            Cras sit amet venenatis nibh, sed tincidunt velit. Integer egestas
            dignissim quam eget vestibulum.
          </li>
          <li class="small-text">
            Ut efficitur molestie eros eu tempus. Suspendisse potenti. Nunc nibh
            odio, euismod nec leo vitae, scelerisque feugiat.
          </li>
          <li class="small-text">
            Etiam id tincidunt libero. Morbi quis lacinia est, vel tincidunt
            mauris. Nam eu scelerisque mauris. Nulla facilisi.
          </li>
          <li class="small-text">
            Suspendisse id rutrum turpis. Vivamus consequat libero fringilla,
            placerat ex sed, porta nisl. Etiam eget ante nec nulla.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
