
<body>
	<%- include('./partials/navigation')  %> 

     <section>
		<!-- <div class="bg-title-sub-page bg-menu-page-02 "> -->
		<div class="bg-title-sub-page jumbo">

			<!-- <div class="wrap-title-sub-page">    -->
			<div class="wrap-title-sub-pager">   
			<div class="container"> 
				<div class="row">

					<div class=" col-md-6">
						
							<div class="my-text-intro">
								<div class="container">
									<h2 class="title-l">Welcome to Breed</h2>
									<p style="margin-bottom: 60px;">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptas pariatur quae maiores et laudantium rerum placeat. Enim natus vitae labore deserunt maxime, totam, dolores eum, amet qui voluptatibus dolore?
									</p>
									<div class="home-btn">
										<a href="/login" class="my-btn mt-5">log in</a>
										<a href="/register" class="my-btn mt-5">Register</a>
									</div>
								</div>
							</div>
						
					</div>

					<div class="col-md-6 my-intro-pic">
						<div class="container">
								<div class="card-body">
									<div class="hover-img">
									  <img src="img/hide-face.jpg" alt="" srcset="">
									</div>
								  </div>
							
						</div>
					</div>

				</div>  

			</div>

		</div>
	</section>


				



		




