
<body>
	<%- include('./partials/navigation')  %> 

     <section>
		<!-- <div class="bg-title-sub-page bg-menu-page-02 "> -->
		<div class="bg-title-sub-page jumbo">

			<!-- <div class="wrap-title-sub-page">    -->
			<div class="wrap-title-sub-pager">   
			<div class="container"> 
				<div class="row">

					<div class=" col-md-6 my-intro">
						
							<div class="my-text-intro">
								<div class="container">
									<h2 class="title-l">Welcome</h2>
									<p style="margin-bottom: 60px;">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptas pariatur quae maiores et laudantium rerum placeat. Enim natus vitae labore deserunt maxime, totam, dolores eum, amet qui voluptatibus dolore?
									</p>
									<a href="/contestant" class="my-btn mt-5">Vote</a>
									<a href="/makePayment" class="my-btn mt-5">Register</a>
								</div>
							</div>
						
					</div>

					<div class="col-md-6 my-intro-pic">
						<div class="container">
							<div class="mt-5">
								<img src="img/side.svg">
							</div>
						</div>
					</div>

				</div>  

			</div>

		</div>
	</section>

			<!-- Intro -->
			<div id="home-onepage-intro" class="wrap-intro">
				<div class="container">
					<div class="row">
						<div class="text-intro col-sm-10 col-md-7 wow fadeInDown" data-wow-delay="0.5s">
							<h3>introduction</h3>
							<h2>About Mega</h2>
							<p>
								Donec quis euismod purus. Donec feugiat ligula rhoncus, varius nisl sed, tincidunt lectus. Nulla vulputate, lectus vel volutpat efficitur, orci lacus sodales sem, at interdum quam ligula sit amet quam. Praesent molestie est ut lorem malesuada pretium at sit amet magna.
							</p>
							<p>
								Donec quis euismod purus. Donec feugiat ligula rhoncus, varius nisl sed, tincidunt lectus. Nulla vulputate, lectus vel volutpat efficitur, orci lacus sodales sem, at interdum quam ligula sit amet quam. Praesent laoreet malesuada ex, sed blandit sem dictum id. Donec vulputate ultricies nibh, quis dapibus ex cursus sit amet. Duis non ex pellentesque, sollicitudin justo a, porttitor magna. Mauris eleifend est purus. Phasellus non ornare nunc, nec ullamcorper eros. Praesent molestie est ut lorem malesuada pretium at sit amet magna. Sed et volutpat sem. 
							</p>
						</div>

						<div class="wrap-pic-intro col-sm-10 col-md-5">
							<div class="row">
								<div class="col-12">
									<div class="pic-intro wow zoomIn">
										<img src="images/home-onepage-img-intro.jpg" alt="picture-about-us">
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
				
			<!-- Event -->
			<section id="home-onepage-event" class="home-onepage-event content-reservation-03">
				<div class="container">
					<div class="row">
						<div class="content-event col-content col-sm-10 col-md-8 col-lg-5 wow fadeInDown" data-wow-delay="0.5s">
							<div id="title-event">
								<h6>Upcoming Event</h6>
								<h2>Live Music Night</h2>
							</div>
							<p>
								Donec quis euismod purus. Donec feugiat ligula rhoncus, varius nisl sed, tincidunt lectus. Nulla vulputate, lectus vel volutpat efficitur, orci lacus sodales sem, at interdum quam ligula sit amet quam.
							</p>

							<p>
								Praesent laoreet malesuada ex, sed blandit sem dictum id. Donec vul-putate ultricies nibh, quis dapibus ex cursus sit amet. Duis non ex pel-lentesque, sollicitudin justo a, porttitor magna. Mauris eleifend est purus. Phasellus non ornare nunc, nec ullamcorper eros praesent. 
							</p>

                            <!-- TODO: GENERATE TIME WITH JAVAsCRIPT -->
							<span class="date-event"><i class="fa fa-calendar" aria-hidden="true"></i> 21 June, 2017</span>
							<span class="time-event"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00AM - 22:00PM</span>

						</div>

						<div class="col-content col-sm-10 col-md-8 col-lg-7">
							<div class="col-right-reservation-03 row">
								<div class="col-12 title-our-menu">
									<div class=" hover-img wow zoomIn">
										<img src="img/girl-singing.jpg" alt="img-event">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
	
			<!-- Reservation -->
			<section id="home-onepage-reservation" class="content-reservation-03">
				<div class="container">
					<div class="row">
						<div class="col-content col-sm-10 col-md-8 col-lg-5">
							<div class="img-reservation-03 hover-img wow zoomIn">
								<img src="img/dark-theater.jpg" alt="img-reservation">
							</div>
						</div>

						<div class="col-content col-sm-10 col-md-8 col-lg-7">
							<!-- title reservation 02 -->
							<div class="col-right-reservation-03 row">
								<div class="col-12 title-our-menu wow fadeInDown" data-wow-delay="0.5s">
									<h6>Reservation</h6>
									<h2>Buy Tickets</h2>
									<p>
										Donec quis euismod purus. Donec feugiat ligula rhoncus, varius nisl sed, tincidunt lectus. Nulla vulputate, lectus vel volutpat efficitur, orci lacus sodales sem, at interdum quam ligula sit amet quam.
									</p>
								</div>
                                <div class="container">
                                    <div class="col-field-input right col-12">
                                        <div class="">
                                            <!-- <input class="my-calendar" type="email" name="email" placeholder="Enter email"> -->
                                        </div>
        
                                        <div class="btn-reservation-03">
                                            <a href="/register"><button class="btn-find-table">Get Ticket</button></a>
                                        </div>
                                    </div>
                                   </div>
							</div>

                         
						
						</div>
					</div>
				</div>
			</section>

<%- include('./partials/footer.ejs')  %> 


