<%- include('./partials/navigation') %>

<section>
  <!-- <div class="bg-title-sub-page bg-menu-page-02 "> -->
  <div class="bg-title-sub-page jumbo">
    <div class="wrap-title-sub-page">
      <h5 class="title-l">Purchase Your e-form</h5>
      <p>
        Before you have access to the registration form, you need to purchase the form.
      </p>

      <h5 class="title-s">Please Choose payment method</h5>
      <div class="mt-5">
        <a href="/paystackPayment" class="my-btn">Paystack</a>
        <a href="/masterCard" class="my-btn">Other method</a>
      </div>
    </div>
  </div>
</section>
