<%- include('./partials/navigation') %>

<section>
  <!-- <div class="bg-title-sub-page bg-menu-page-02 "> -->
  <div class="bg-title-sub-page jumbo">
    <div class="wrap-title-sub-page">
      <h5 class="title-l">Choose Your Purchase</h5>
      <h5 class="title-s">What are you buying???</h5>

      <div class="mt-5">
        <a href="/ForGetTickets" class="my-btn">Get Tickets</a>
        <a href="/getRegNumber" class="my-btn">Reg number</a>
      </div>
    </div>
  </div>
</section>
