


<%- include('./partials/open-navigation') %> 

<section>
    <!-- <div class="bg-title-sub-page bg-menu-page-02 "> -->
    <div class="bg-title-sub-page jumbo">
      <div class="wrap-title-sub-page">
        <h2 class="title-el biger-title"> 404 </h2>
        <h2 class="title-s" style="margin: 10px 0 30px 0;"> Sorry the resource you are looking for cannot be accessed or has been removed</h2>

        <a href="/" class="my-btn mt-4">Hompage </a>
      </div>


      


    </div>
  </section>

  


  